//GLOABAL // ========================
@import "libs/gmixins";
@import "libs/gvars";

//===================================

//THEMES //=============================

//clothingStore //-----------------------
//general
@import "../themes/ClothingStore/scss/general";

//libs
@import "../themes/ClothingStore/scss/libs/mixins";
@import "../themes/ClothingStore/scss/libs/vars";

//pages
@import "../themes/ClothingStore/scss/pages/home";
@import "../themes/ClothingStore/scss/pages/productView";
@import "../themes/ClothingStore/scss/pages/buyingPage";

//components
@import "../themes/ClothingStore/scss/components/cFooter";
@import "../themes/ClothingStore/scss/components/cNav";
@import "../themes/ClothingStore/scss/components/contProducts";
@import "../themes/ClothingStore/scss/components/cProduct";
@import "../themes/ClothingStore/scss/components/recomended";


//------------------------------------------------------

//=========================================

//foodStore // ------------------------------
//libs
@import "../themes/FoodStore/scss/libs/mixins";
@import "../themes/FoodStore/scss/libs/vars";

//pages
@import "../themes/FoodStore/scss/pages/home";
@import "../themes/FoodStore/scss/pages/productView";

//components
@import "../themes/FoodStore/scss/components/cFeaturedProduct";
@import "../themes/FoodStore/scss/components/cFooter";
@import "../themes/FoodStore/scss/components/cNav";
@import "../themes/FoodStore/scss/components/contProducts";
@import "../themes/FoodStore/scss/components/cProduct";

//--------------------------------------------

$color1: blue;
$color2: green;
$color3: purple;

$color4: #8B48E6;
$color5: #F6F6F6;

//noramlize
@import '../node_modules/normalize.css/normalize.css';

//deafult
@import './default/skeleton';

//index
@import './index/skeleton';

//navbar
@import './navbar/skeleton';

//thefooter
@import './thefooter/skeleton';

//slider
@import './slider/skeleton';

//sliderItem
@import './sliderItem/skeleton';

//conenedero de productos
@import './ContProductos/skeleton';

//sliderItem
@import './Producto/skeleton';

//loginsStyles
@import './loginsStyles/login.scss';


