//GLOABAL // ========================
@import "libs/gmixins";
@import "libs/gvars";


//THEMES //=============================

//clothingStore //-----------------------
//libs
@import "themes/clothingStore/libs/vars";
@import "themes/clothingStore/libs/mixins";

//pages
@import "themes/clothingStore/pages/home";
@import "themes/clothingStore/pages/productView";

//components
@import "themes/clothingStore/components/cNav";
@import "themes/clothingStore/components/cFooter";
@import "themes/clothingStore/components/cProduct";
@import "themes/clothingStore/components/cSN";
@import "themes/clothingStore//components/contProducts";
@import "themes/clothingStore/components/recomended";
//---------------------------------------

$color1: blue;
$color2: green;
$color3: purple;

$color4: #8B48E6;
$color5: #F6F6F6;

//noramlize
@import '../node_modules/normalize.css/normalize.css';

//deafult
@import './default/skeleton';

//index
@import './index/skeleton';

//navbar
@import './navbar/skeleton';

//thefooter
@import './thefooter/skeleton';

//slider
@import './slider/skeleton';

//sliderItem
@import './sliderItem/skeleton';

//conenedero de productos
@import './ContProductos/skeleton';

//sliderItem
@import './Producto/skeleton';

