.clothingStore__main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $clothingStore__font-family;
  background: $clothingStoreBG;

  //agregar nav space al componente de nav de un solo
 
  .contImg {
    @include ContImg(30vh, 100%);
    background: white;
    max-width: 1920px;

    @media screen and (min-width: 463px) {
      height: 35vh;
    }

    @media screen and (min-width: 570px) {
      height: 40vh;
    }

    @media screen and (min-width: 700px) {
      height: 50vh;
    }

    @media screen and(min-width: 865px) {
      justify-content: flex-start;
    }

    @media screen and(min-width: 1600px) {
      height: 60vh;
    }
   
    img {
      @include img();

      @media screen and (min-width: 650px) {
        width: 95%;
        height: 95%;
      }

      @media screen and (min-width: 700px) {
        width: 100%;
        height: 100%;
      }

      @media screen and(min-width: 865px) {
        width: 50%;
        height: 100%;
      }
    }

    .contSlogan{
      width: 50%;
      height: 100%;
      display: none;

      @media screen and(min-width: 865px) {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .slogan{
        width: 70%;
        height: 50%;
        font-size: 30px;
        font-weight: bold;

        @media screen and(min-width: 1000px) {
          font-size: 40px;
        }
      } 
    }
  }

  .Featured {
    width: 100%;
    height: 45vh;
    background: $clothingStore2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .Title {
      @include Title(center, white);
    }

    .contFeatured {
      width: 90%;
      height: 70%;
      background: white;
    }
  }
}

.nav-space {
  @include nav-space();
}
